[Unit]
Description=Telegram Bot Service
After=network.target

[Service]
User=telegram-bot
WorkingDirectory=/www/telegram-bot
ExecStart=/www/telegram-bot/venv/bin/python bot.py /www/telegram-bot/bot.py
Restart=always
Environment=TELEGRAM_BOT_TOKEN=7988564533:AAFcVl6nUY-jRYhfpBORvRpC_An0WLSa4CY
Environment=ADMIN_PASSWORD=your_password

[Install]
WantedBy=multi-user.target
